@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.cartItem {
    margin-left:auto;
    width: 4rem;
}

.is-info {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

html {
    font-size: x-large;
}