body {
    margin: 0;
    background-color: white; 
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 40px);
}

.card {
    background-color: #EDE8D0;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    border-color: black;
    border-width: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
}

.subheader {
    text-align: center;
    width: 90%;
    max-width: 600px;
    color: #333;
}

header {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}