<%- include('includes/_head', { title: 'Succession - About' }) %>
<%- include('includes/_nav', { subtitle: 'About the Show' }) %>

<a class="button is-link" href="/personajes">Back to Characters</a>

<div class="content mt-4">
    <p>
        <strong>Succession</strong> is an HBO drama series following the Roy family,
        owners of Waystar Royco, a global media and entertainment conglomerate.
        As patriarch Logan Roy's health deteriorates, his four children scramble
        for control of the empire in a ruthless game of power, betrayal, and dysfunction.
    </p>
    <p>
        Created by Jesse Armstrong, the show ran for four seasons (2018-2023) and
        won multiple Emmy Awards including Outstanding Drama Series.
    </p>
</div>

<%- include('includes/_footer') %>
