<%- include('includes/_head', { title: 'Succession - New Quote' }) %>
<%- include('includes/_nav', { subtitle: 'Add a New Quote' }) %>

<a class="button is-link mb-4" href="/quotes">Back to Quotes</a>

<form action="/quotes/new" method="POST">
    <div class="field">
        <label for="character" class="label">Name</label>
        <div class="control">
            <input id="character" name="character" class="input" type="text" placeholder="e.g. Cousin Greg">
        </div>
    </div>
    <div class="field">
        <label for="text" class="label">Text</label>
        <div class="control">
            <input id="text" name="text" class="input" type="text" placeholder="e.g. &quot;It's not like they pre-poop them, they're just bags really. It's a mental barrier.&quot;">
        </div>
    </div>
    <input class="button is-primary" type="submit" value="Save Quote">
</form>

<%- include('includes/_footer') %>